<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    {% if messages %}
        {% for message in messages %}
         {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

        {% endfor %}

    {% endif %}

    <div>
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" name="userLogin" value="Login">
        </form>
        <p>If you do not have an account, <a href="/register">register</a> a new account instead.</p>
    </div>
</body>

</html>